.CentreImage{
  height: 25vw;
  width: 25vw;
  background-color: red;
  
}

.backgroundImage {
  display: grid;
  grid-template-rows: 200px 200px 200px;
  grid-template-columns: 200px 200px 200px;
  
  background-size: contain;
  background-repeat: no-repeat;
  object-position: center;
  background-attachment: fixed;
}

/* body {
display: flex;
justify-content: center;
} */
.box {
display: flex;
align-items: center;
justify-content: center;
}

.addCaptionButton {
  background-color: #FEC931;
  height: 5vw;
  width: 5vw;
  border-radius: 2vw;
  margin-left: 3vw;
  margin-bottom: 3vw;           
  }

.deletePhotoButton {
background-color: #FD324E;
height: 5vw;
width: 5vw;
border-radius: 2vw;
}

.nextPhotoButton {
background-color: #3D89F9;
height: 5vw;
width: 15vw;
border-radius: 2vw;
font-family: 'Inter', sans-serif;
font-size: 1vw;
}

.uploadPhotoButton {
background-color: #63BF7F;
height: 5vw;
width: 5vw;
border-radius: 2vw;
}

.captionImage {
  height: 2vw;
  width: 2vw;
}

.deleteImage {
  height: 2vw;
  width: 2vw;
}

.uploadImage {
  height: 3vw;
  width: 3vw;
}

